@charset "UTF-8";
#wrap{
	width:80%;
	height:937px;
	margin:auto;
}
#content{
	width:100%;
	height:82%;
	background-color:white;
	border: solid 1px;
}
#footer{
	width:80%;
	height:10%;
	margin:auto;
	background-color:gray;
	position: absolute;
    left: 50;
    bottom: 0;
    text-align: center;
}
.container {
  padding: 2rem 0rem;
}
.row1 {
	width: 100%;
	height: 734px;
	overflow-y:scroll;
}
h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }

}
