<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhta.mybatis.mapper.charge">
	<select id="getinfo" parameterType="int" resultType="charge">
		select * from charge where chargeNum=#{chargeNum} 
	</select>
	<select id="genderList" resultType="charge">
		SELECT sum(c.totalbill) totalbill, SUBSTR(m.birth,8,1) birth from CHARGE C,MEMBERSHIP M
		WHERE c.memnum=c.memnum
		group by SUBSTR(m.birth,8,1)
	</select>
</mapper>